<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            <% include ./partials/customers %>
        </div>       
    </main>
    
    <footer>
        <% include ./partials/footer %>
    </footer>

    <script>
        (function () {
            'use strict';
            const ENDPOINT = 'https://asolvi-customers-api.herokuapp.com';

            var buttonEl = document.getElementById('get');
            buttonEl.addEventListener('click', handleClick);
            
            function handleClick() {
                var auth0 = new window.auth0.WebAuth({
                    clientID: 'OPEBMU2ClhWLFYo7JWDXzS0S3GzM9Oax',
                    domain: 'razalyalhafiz.au.auth0.com',
                    responseType: 'token id_token',
                    audience: 'https://asolvi-customers-api.herokuapp.com',
                    redirectUri: 'https://asolvi-customers-app.herokuapp.com',
                    scope: 'openid profile',
                });
                var hash = location.hash;
                if (hash === '') {
                    auth0.authorize();
                    return
                }
                auth0.parseHash(handleParseHash);

                fetch(ENDPOINT, {
                    headers: {
                        Authorization: 'Bearer ' + accessToken
                    },
                })
                .then(handleSuccess)
                .catch(handleError);

                function handleSuccess(response) {
                    var customers = response.json();
                    console.log(customers);
                }

                function handleError(err) {
                    console.log(err);
                }
            }

            function handleParseHash(err, authResult) {
                var accessToken;
                var idToken;
                if (authResult && authResult.accessToken && authResult.idToken) {
                    accessToken = authResult.accessToken;
                    idToken = authResult.idToken;
                    console.log(idToken);
                    
                    auth0.client.userInfo(accessToken, handleUserInfo);
                    function handleUserInfo(userErr, user) {
                        if (userErr) {
                            return;
                        }
                        console.log(user);
                    }
                } else {
                    console.log('ERROR');
                }
            }           
        })();
    </script>
</body>

</html>