<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="resize" src="asolvi-logo.svg" alt="">
            </a>

            <ul class="nav navbar-nav">
                <li><button id="auth" class="btn btn-primary">Authenticate</button></li>
            </ul>
        </div>

    </div>
</nav>