<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="logo" src="./assets/asolvi-logo.svg" alt="">
            </a>

            <button id="btnLogin" class="btn btn-primary btn-margin">
                Log In
            </button>

            <button id="btnLogout" class="btn btn-primary btn-margin">
                Log Out
            </button>
        </div>
    </div>
</nav>